:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --button-backround-color: #f5f4fa;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
.navigation-links a:hover,
a:focus {
  color: var(--accent-color);
}

.filters button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

.filters button {
  color: var(--primary-text-color);
  background-color: var(--button-backround-color);
  cursor: pointer;
}

.list-item h2 {
  color: var(--primary-text-color);
}
.list-item p {
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.adress a:hover,
a:focus {
  color: var(--accent-color);
}
.adress {
  color: var(--secondary-text-color);
}
.logo {
  font-family: Raleway;
}
.logo-web {
  color: var(--accent-color);
}

.advantages p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.advantages h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.order-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;
}
.hero-title {
  font-size: 44px;
  line-height: 2.5;
  font-weight: 900;
}
.what-are-we-doing {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
